name: "build"

on:
  push:
    branches:
      - master
  pull_request:

# Remember to update me in package-set.yml as well
env:
  vessel_version: "v0.7.0"
  moc_version: "0.10.1"

jobs:
  tests:
    if: github.ref != 'refs/heads/next-moc' && github.base_ref != 'refs/heads/next-moc'
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
    - run: npm ci
    - name: "initial checks"
      run: npm run validate
    - name: Check if Git tag exists
      run: echo "name=HEAD_TAG::$(git tag --points-at HEAD)" >> $GITHUB_ENV
    - uses: cachix/install-nix-action@v22
      with:
        nix_path: nixpkgs=channel:nixos-22.11
    - name: "install dependencies"
      run: |
        nix-env --install wasmtime --file '<nixpkgs>'
        nix-env --install graphviz --file '<nixpkgs>'
    - name: "install Motoko binaries"
      run: |
       wget https://github.com/dfinity/motoko/releases/download/${{ env.moc_version }}/motoko-Linux-x86_64-${{ env.moc_version }}.tar.gz
       mkdir -p /home/runner/bin
       tar -xzf motoko-Linux-x86_64-${{ env.moc_version }}.tar.gz -C /home/runner/bin
       echo "/home/runner/bin" >> $GITHUB_PATH
    - name: "install vessel"
      run: |
       wget --output-document /home/runner/bin/vessel https://github.com/kritzcreek/vessel/releases/download/${{ env.vessel_version }}/vessel-linux64
       chmod +x /home/runner/bin/vessel
    - name: "test (interpreter mode)"
      run: DFX_MOC_PATH=moc npm test
    - name: "test (wasi mode)"
      run: DFX_MOC_PATH=moc npm test -- --mode wasi
    - name: "graph dependencies"
      run: python3 doc/module_graph.py | dot -Tsvg > doc/module_graph.svg && file doc/module_graph.svg
    - name: "docs"
      if: github.ref != 'refs/heads/next-moc' && github.base_ref != 'refs/heads/next-moc'
      run: |
        pushd doc
        mo-doc --source ../src --output modules/base-libraries/pages/ --format adoc
        popd
        python3 doc/module_nav.py > doc/modules/base-libraries/lib-nav.adoc
    - name: Upload docs
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: github.ref == 'refs/heads/master'
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: doc-pages
        FOLDER: doc/
