
name: "build"
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  tests:
    if: github.ref != 'refs/heads/next-moc' && github.base_ref != 'refs/heads/next-moc'
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: Check if Git tag exists
      run: echo "::set-env name=HEAD_TAG::$(git tag --points-at HEAD)"
    - uses: cachix/install-nix-action@v10
    - name: "install dependencies"
      run: |
        sudo -H /nix/var/nix/profiles/default/bin/nix-channel --list
        sudo -H /nix/var/nix/profiles/default/bin/nix-channel --add https://nixos.org/channels/nixos-20.03 nixpkgs
        sudo -H /nix/var/nix/profiles/default/bin/nix-channel --update
        ls -l /nix/var/nix/profiles/per-user/root/channels/
        nix-env --install --attr wasmtime --file '<nixpkgs>'
        nix-env --install --attr graphviz --file '<nixpkgs>'
    - name: "install Motoko binaries"
      run: |
       wget https://download.dfinity.systems/motoko/0.4.2/x86_64-linux/motoko-0.4.2.tar.gz
       mkdir -p /home/runner/bin
       tar -xf motoko-0.4.2.tar.gz -C /home/runner/bin
       echo "::add-path::/home/runner/bin"
    - name: "install vessel"
      run: |
       wget --output-document /home/runner/bin/vessel https://github.com/kritzcreek/vessel/releases/download/v0.5.1/vessel-linux64
       chmod +x /home/runner/bin/vessel
    - name: "test"
      run: make -C test
    - name: "graph dependencies"
      run: python3 doc/module_graph.py | dot -Tsvg > module_graph.svg && file module_graph.svg
    - name: "docs"
      if: github.ref != 'refs/heads/next-moc' && github.base_ref != 'refs/heads/next-moc'
      run: pushd doc && ./make_docs.sh && popd
    - name: Upload docs
      uses: JamesIves/github-pages-deploy-action@releases/v3
      if: env.HEAD_TAG != '' && github.ref == 'refs/heads/master'
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: doc/_out/html/
